MONGODB_URI=mongodb://localhost:27017
DATABASE_NAME=testdb
COLLECTION_NAME=tests

EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
CHROMA_PATH=./vector_store
SIMILARITY_THRESHOLD=0.8
NUM_CONTEXT_CHUNKS=5